body {
  font-family: Arial;
  background: #f4f8f4;
  padding: 30px;
}

h1 { color: #2e8b57; }

section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  background: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
